* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eff0f1;
    position: relative;
}

a {
    text-decoration: none;
}
h2{
    color: #0047ff;
    margin-bottom: 10px;
}
.container-fluid {
    background-color: #bbbbbb;
    padding: 100px;
    position: relative;
    top: 0;
    left: 0;
}

img {
    width: 100%;
}

.logo {
    width: 180px;
}

.nav-link {
    color: #666;
    font-weight: 500;
    margin-right: 15px;
}

.nav-link:hover {
    color: #000;
}

.whatsapp-btn {
    background-color: #eef1ff;
    color: #0c1f4b;
    border-radius: 30px;
    padding: 8px 18px;
    font-weight: 500;
    text-decoration: none;
}

.ivf-heading {
    color: #4e72c4;
    font-size: 2.4rem;
    font-weight: 700;
}

.blue-box {
    background-color: #0c1f4b;
    color: white;
    border-radius: 12px;
    padding: 30px;
}

.form-control {
    border-radius: 10px;
    background-color: #0c1f4b;
}

.form-control::placeholder {
    color: #eef1ff;
}

.form-check-label {
    font-size: 0.9rem;
}

.feature-icon {
    font-size: 1.5rem;
}

.btn-custom {
    background-color: white;
    color: #0c1f4b;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 30px;
}

/* feature box */
.feature-box {
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.feature-box i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0d6efd;
}

.feature-box h5 {
    margin-bottom: 0.5rem;
}

.choose-box img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.faqs-img {
    width: 100%;
    height: 200px;
    padding: 20px;
}

.faqs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.calendar-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;

}

.calendar {
    text-align: center;
    position: sticky;
    top: 5px;
}

.calendar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar .day {
    padding: 8px;
    border-radius: 4px;
    background-color: white;
}

.calendar .today {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.calendar .weekdays {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
}


.footer {
    background-color: #f8f9fa;
    padding: 40px 20px;
    font-size: 14px;
}

.footer h5 {
    font-weight: bold;
}

.footer a {
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #e9ecef;
}

.footer .logo-text {
    font-weight: bold;
    font-size: 20px;
}

.btn-blue {
    background: linear-gradient(to right, #0090ff, #0047ff);
    color: white;
    border: none;

}
/* benefits */
.feature-box img {
    height: 150px;
    object-fit: cover;
    object-position: center;
}

